body {
    background-color: rgba(0, 0, 0, 0);
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    justify-items: center;
    align-items: center;
    color: black;
}

.img {
    width: 400px;
    margin-left: 223px;
    margin-top: 150px;
    border-radius: 50px;
    align-items: center;
}
    
.img2 {
    width: 400px;
    margin-left: 500px;
    margin-top: -290px; 
    border-radius: 50px;
}
   
.img3 {
    width: 400px;
    margin-left: 55px;
    margin-top: 150px;
}
 
.caja{
    position: relative;
    display: inline-block;
}
    
.texto1 {
    position: absolute;
    top: 310px;
    left: 13%;
    font-family: inherit;
    font-size: 35px;
    color: rgb(240, 8, 8);
}
    
.texto2 {
    position: absolute;
    top: 350px;
    left: 13%;
    font-family: inherit;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
    
.texto3 {
    position: absolute;
    top: 380px;
    left: 13%;
    font-family: inherit;
    font-size: 15px;
    color: hsl(0, 0%, 0%);
}
    
.texto4 {
    position: absolute;
    top: 380px;
    left: 60%;
    font-family: inherit;
    font-size: 15px;
    color: hsl(0, 0%, 0%);
}

.brand img {
    width: 75px;
    height: 75px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}
.title-cards{
    width: 100%;
    max-width: 1080px;
    margin: autos;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(0, 0, 255);
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:rgb(0, 0, 0);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 270px;
}
.card .contenido-card{
    padding: 15px;
    text-align: center;
}
.card .contenido-card h3{
    margin-bottom: 15px;
    color:rgb(0, 255, 217);
}
.card .contenido-card p{
    line-height: 1.8;
    color:rgb(249, 7, 7);
    font-size: 14px;
    margin-bottom: 5px;
}
.card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card .contenido-card a:hover{
    background: #2fb4cc;
    color:black;
}


.flex-container {
  flex-wrap: wrap;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .container-card1{
        flex-wrap: wrap;
    }
    .card1{
        margin: 15px;
    }
}